---
import "bootstrap/dist/css/bootstrap.min.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Bootstrap in Astro</title>
	</head>
	<body>
		<slot />
		<script>
			import "bootstrap/dist/js/bootstrap.bundle.min.js";
		</script>
	</body>
</html>

<style></style>
